### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
number_of_players=purchase_data["SN"].nunique()
print(f"There are {number_of_players} players")

There are 576 players

In [4]:
#purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
number_of_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
max_price = purchase_data["Price"].max()
max_age = purchase_data["Age"].max()
min_age = purchase_data["Age"].min()
summary_df = pd.DataFrame({"Number of Items": [number_of_items],
                           "Average Price": [average_price],
                           "Average Age": [average_age],
                           "Max Price": [max_price],
                           "Max Age": [max_age],
                           "Min age": [min_age]})
summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Max Price"]=summary_df["Max Price"].map("${:.2f}".format)
summary_df["Average Age"]=summary_df["Average Age"].map("{:.2f}".format)
summary_df

   Number of Items Average Price Average Age Max Price  Max Age  Min age
0              179         $3.05       22.71     $4.99       45        7

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Count Data
count_data=purchase_data["Gender"].value_counts()
count_data

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [7]:
#Percentage Data
count_percentage=purchase_data["Gender"].value_counts(normalize=True)
count_percentage=count_percentage.map("{:.2%}".format)
count_percentage

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [16]:
#genders_groupby=purchase_data.groupby(["Gender"])
#genders_groupby.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [17]:
#genders_groupby["Price"].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
genders_df = pd.DataFrame({"Average Purchase Price": genders_groupby["Price"].mean()})
genders_df["Average Purchase Price"]=genders_df["Average Purchase Price"].map("${:.2f}".format)
genders_df["Purchase Count"]=genders_groupby["Price"].count()
genders_df["Unique Players"]=genders_groupby["SN"].nunique()
genders_df["Total Purchase Per Player"]=genders_groupby["Price"].sum()/genders_groupby["SN"].nunique()
genders_df["Total Purchase Per Player"]=genders_df["Total Purchase Per Player"].map("${:.2f}".format)
genders_df["Unique Items Bought"]=genders_groupby["Item ID"].nunique()
genders_df

,Average Purchase Price,Purchase Count,Unique Players,Total Purchase Per Player,Unique Items Bought
Gender,,,,,
Female,$3.20,113,81,$4.47,90
Male,$3.02,652,484,$4.07,178
Other / Non-Disclosed,$3.35,15,11,$4.56,13

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
agebins=[0,10,15,20,25,30,35,50]
binlabels=["<10","10-15", "15-20","20-25","25-30","30-35",">35"]
purchase_data["Age Bin"]=pd.cut(purchase_data["Age"], bins=agebins,labels=binlabels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-20,15-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>35,>35
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25,20-25

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame