### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#purchase_data.head()

In [4]:
number_of_players=purchase_data["SN"].nunique()
print(f"There are {number_of_players} players")

There are 576 players

In [5]:
#purchase_data.dtypes

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
number_of_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
max_price = purchase_data["Price"].max()
max_age = purchase_data["Age"].max()
min_age = purchase_data["Age"].min()
total_revenue = purchase_data["Price"].sum()
total_purchases = purchase_data["Price"].count()
summary_df = pd.DataFrame({"Number of Items": [number_of_items],
                           "Average Price": [average_price],
                           "Average Age": [average_age],
                           "Max Price": [max_price],
                           "Max Age": [max_age],
                           "Min age": [min_age],
                           "Total Revenue": [total_revenue],
                           "Total Purchases": [total_purchases]})
summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Max Price"]=summary_df["Max Price"].map("${:.2f}".format)
summary_df["Average Age"]=summary_df["Average Age"].map("{:.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:.2f}".format)
summary_df

,Number of Items,Average Price,Average Age,Max Price,Max Age,Min age,Total Revenue,Total Purchases
0,179,$3.05,22.71,$4.99,45,7,$2379.77,780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
genders_groupby=purchase_data.groupby(["Gender"])
count_data=genders_groupby["SN"].nunique()
total_count=count_data.sum()
count_data_percentages = count_data/total_count
gender_demo_df = pd.DataFrame({"Total Count": count_data,
                               "Percentage": count_data_percentages})
gender_demo_df["Percentage"]=gender_demo_df["Percentage"].map("{:.2%}".format)
gender_demo_df

                       Total Count Percentage
Gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
genders_df = pd.DataFrame({"Average Purchase Price": genders_groupby["Price"].mean()})
genders_df["Average Purchase Price"]=genders_df["Average Purchase Price"].map("${:.2f}".format)
genders_df["Purchase Count"]=genders_groupby["Price"].count()
genders_df["Unique Players"]=genders_groupby["SN"].nunique()
genders_df["Total Purchase Per Player"]=genders_groupby["Price"].sum()/genders_groupby["SN"].nunique()
genders_df["Total Purchase Per Player"]=genders_df["Total Purchase Per Player"].map("${:.2f}".format)
genders_df["Unique Items Bought"]=genders_groupby["Item ID"].nunique()
genders_df["Total Purchase Value"]=genders_groupby["Price"].sum()
genders_df["Total Purchase Value"]=genders_df["Total Purchase Value"].map("${:.2f}".format)
genders_df

,Average Purchase Price,Purchase Count,Unique Players,Total Purchase Per Player,Unique Items Bought,Total Purchase Value
Gender,,,,,,
Female,$3.20,113,81,$4.47,90,$361.94
Male,$3.02,652,484,$4.07,178,$1967.64
Other / Non-Disclosed,$3.35,15,11,$4.56,13,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
agebins=[0,10,15,20,25,30,35,40,50]
binlabels=["<10","10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Bin"]=pd.cut(purchase_data["Age"], bins=agebins,labels=binlabels, right =False)
age_groupby=purchase_data.groupby("Age Bin")
Total_counts = age_groupby["SN"].nunique()
sum_total=Total_counts.sum()
Age_demo_df = pd.DataFrame({"Total Counts": Total_counts})
Age_demo_df["Percentage"]=100*Total_counts/sum_total
Age_demo_df["Percentage"]=Age_demo_df["Percentage"].map("{:.2f}%".format)
Age_demo_df

         Total Counts Percentage
Age Bin
<10                17      2.95%
10-14              22      3.82%
15-19             107     18.58%
20-24             258     44.79%
25-29              77     13.37%
30-34              52      9.03%
35-39              31      5.38%
40+                12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Already grouped it above called age_groupby
purchase_count = age_groupby["Price"].count()
average_price = age_groupby["Price"].mean()
total_value = age_groupby["Price"].sum()
unique_purchasers = age_groupby["SN"].nunique()

age_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Average Purchase Price": average_price,
                       "Total Purchase Value": total_value,
                       "Number of Unique Purchasers": unique_purchasers,
                       "Average Total Purchase Per Person": total_value/unique_purchasers
                       })
age_df["Average Purchase Price"]=age_df["Average Purchase Price"].map("${:.2f}".format)
age_df["Total Purchase Value"]=age_df["Total Purchase Value"].map("${:.2f}".format)
age_df["Average Purchase Price"]=age_df["Average Purchase Price"].map("${:.2f}".format)
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Number of Unique Purchasers,Average Total Purchase Per Person
Age Bin,,,,,
<10,23,$3.35,77.13,17,4.537059
10-14,28,$2.96,82.78,22,3.762727
15-19,136,$3.04,412.89,107,3.858785
20-24,365,$3.05,1114.06,258,4.318062
25-29,101,$2.90,293.00,77,3.805195
30-34,73,$2.93,214.00,52,4.115385
35-39,41,$3.60,147.67,31,4.763548
40+,13,$2.94,38.24,12,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame